button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: orangered;
    font-size: 20px;
    color: white;
}

.login{
    width: 30%;
    height: 30%;
    margin-left: 220px;
    margin-top: -10px;
}

